@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #FDF6EA !important;
}
  
.navbar-brand {
  font-size: 3rem;
}
  
.btn-search {
  width: 150px;
  margin-top: 14px;
  font-weight: bold;
  font-size: large;
}